:root {
  font-size: 16px;
}

html[theme="light"] {
  --text-color: #1D192F;
  --shadow-color: #1C1C1C1C;
  --bg-one: #FEFEFE;
  --bg-two: #E3E3CE;
  --bg-nav: #DADABE;
  --btn-text-color: #E3E3CE;
  --btn-color: #2A2545;
  --bg-footer: #2A2545;
  --text-color-footer: #E3E3CE;
}

html[theme="dark"] {
  --text-color: #E3E3CE;
  --shadow-color: #E3E3CE1C;
  --bg-one: #28222F;
  --bg-two: #16131A;
  --btn-text-color: #2A2545;
  --btn-color: #E3E3CE;
  --bg-footer: #E3E3CE;
  --text-color-footer: #2A2545;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--bg-two);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
}

nav {
  display: block;
}

h1 {
  margin: 0;
}

p {
  font-family: Poppins, sans-serif;
}

footer {
  display: inline-flex;
  flex-direction: row;
  background-color: var(--bg-footer);
  width: 100%;
  padding: 2rem 0;
}

.footer_links {
  width: 50%;
  height: 100px;
}

.footer_send_email {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin-bottom: 2rem;
}

.footer_h1 {
  margin-top: 0.5rem;
  text-align: center;
}

.footer_send_email > form {
  display: inline-flex;
  flex-direction: column;
  width: 80%;
}

.form_email_label {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

input[type="submit"] {
  color: var(--btn-color);
  background-color: var(--btn-text-color);
  border: none;
  height: 2rem;
  border-radius: 0.5rem;
}

input[type="text"], input[type="email"] {
  border-radius: 0.5rem;
  height: 2rem;
  border: none;
  padding-left: 0.75rem;
}

#textarea_body {
  resize: none;
  overflow: scroll;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: none;
}

#textarea_body:focus {
  border:none;
}

.social_media_ico {
  width: 2rem;
  height: 2rem;
}

.social_media_a:hover, 
.social_media_a:focus {
  &.social_media_ico {
    border: var(--text-color-footer) solid 1px;
  }
}

.text-color-dark {
  color: var(--text-color-footer);
}

.social_media {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 0;
}

.social_media > li {
  margin: 0 1rem;
  list-style-type: none;
}

.text-title {
  font-family: Anton, serif;
  font-size: 2rem;
}

.text-subtitle {
  font-family: Antonio, serif;
  font-size: 1rem;
}

.text-normal {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

#nav_menu_bar {
  display: none;
}

.nav_menu_items {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  box-shadow: var(--shadow-color) 2px 2px 20px;
  background-color: var(--bg-one);
  transition: none;


  &.nav_menu_unhide{
    height: 4rem;
  }
  &.nav_menu_hide{
    height: 4rem;
  }
}

.nav_right {
  display: flex;
  padding-right: 4rem;
}

a {
  color: var(--text-color);
  font-family: Antonio, sans-serif;
  font-weight: 400;
  text-decoration: none;
  margin: 0 0.5rem;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:focus {
  outline: none;
}

.nav_left {
  display: block;
}

.nav_home{
  color: var(--text-color);
  font-family: Anton, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  justify-content: flex-start;
}

.nav_home:hover {
  text-decoration: underline;
}

.nav_home:focus {
  text-decoration: underline;
  outline: none;
}

#content {
  margin-top: 4rem;
}

.content_presentation {
  display: inline-flex;
  flex-direction: row-reverse;
  height: calc(100vh - 4rem);
  width: 100%;
  justify-content: center;
}

.content_presentation_bottom {
  display: block;
  align-content: center;
  color: var(--text-color);
  width: 50%;
  max-width: 35%;
  font-family: Antonio, sans-serif;
  padding: 0 2rem;
}

.content_presentation_bottom > p {
  margin-top: 0;
}

.content_presentation_top {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 35%;
  padding: 0 2rem;
}

.content_presentation_svg {
  width: 85%;
  height: 85%;
}

.btn_link {
  margin: 0;
}

.btn_link > button {
  padding: 0.5rem;
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--btn-text-color);
  background: var(--btn-color);
  border: none;
  border-radius: 0.5rem;
}

.btn_link:hover > button, .btn_link:focus > button {
  text-decoration: underline;
}

.btn_link:focus{
  outline: none;
}

.content_about_me {
  height: auto;
  background-color: var(--bg-one);
  color: var(--text-color);
  align-content: center;
}

.content_about_me > h1 {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}

.content_about_me > p {
  margin: 0;
  padding: 2rem 4rem;
}

.content_projects {
  width: 100%;
  padding-bottom: 2rem;
}

.content_projects > h1 {
  padding: 2rem 0;
}

.content_projects_gallery {
  width: 80%;
  margin: auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, 12.5rem);
  justify-content: space-around;
}

.project_card {
  width: 12.5rem;
  height: 15.5rem;
  background-color: var(--bg-one);
  border-radius: 0.5rem;
}

.project_card:hover {
  box-shadow: var(--shadow-color) 2px 2px 20px;
}

.project_card > a {
  margin: 0;
  padding: 0;
}

.project_card_img {
  width: 12.5rem;
  height: 7.75rem;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 0.5rem 0.5rem 0 0;
}

.project_card_title {
  margin: 0.25rem 0.5rem;
}

.project_card_desc {
  margin: 0.25rem 0.5rem;
  width: 12.5rem;
  height: 5.1rem;
  overflow: hidden;
}

.project_card_link:hover {
  text-decoration: none;
}

.project_card_link:hover > .project_card_title {
  text-decoration: underline;
}

.nav_theme_btn {
  width: 2.4rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: var(--bg-one);
  color: var(--text-color);
  outline: var(--shadow-color) solid 1px;
  box-shadow: inset var(--shadow-color) 0 0 10px 1px;
  padding: 0 0.2rem;
  margin-left: 1rem;
  display: block;
  align-content: center;
  position: absolute;
  top: 1.25rem; right: 1rem;
}

.nav_theme_btn_circle {
  width: 1.2rem; height: 1.2rem;
  border-radius: 1rem;
  background-color: var(--bg-one);
  outline: var(--shadow-color) solid 1px;
}

@keyframes btn_theme_animation {
  100% {
    transform: translateX(1.2rem);
  }
}

.nav_theme_btn--to-light, .nav_theme_btn--to-dark {
  animation-name: btn_theme_animation;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease;
}

.nav_theme_btn--to-light {
  animation-direction: normal;
}

.nav_theme_btn--to-dark {
  animation-direction: reverse;
}

.nav_theme_btn_ico {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
}

.nav_theme_btn_ico-dark {
  left: 0.35rem;
  top: 0.35rem;
}

.nav_theme_btn_ico-light {
  right: 0.40rem;
  top: 0.35rem;
}

@media (max-aspect-ratio: 1/1) {
  .content_presentation {
    display: inline;
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
  }
  
  .content_presentation_bottom {
    max-width: none;
    height: auto;
    margin: auto;
    padding: 2rem 0 10vw 0;
  }
  
  .content_presentation_top {
    width: 100%;
    height: 75vw;
    padding: 0;
    max-width: none;
  }

  .content_presentation_svg {
    width: 100%;
    height: 75%;
  }
}

@media (width < 480px) {
  :root {
    font-size: 16px;
  }
  
  footer {
    flex-direction: column-reverse;
  }

  .footer_links {
    width: 100%;
  }

  .footer_send_email {
    width: 100%;
  }

  nav {
    display: block;
    height: auto;
    padding: 0;
  }

  #nav_menu_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: var(--bg-one);
    box-shadow: var(--shadow-color) 2px 2px 20px;
  }
  
  .nav_menu_items {
    position: absolute;
    display: none;
    flex-direction: column;
    interpolate-size: allow-keywords;
    overflow-y: clip;
    box-shadow: inset var(--shadow-color) 2px 2px 20px;
    padding: 0;
    width: 100%;
    height: 0;
    transition: height 0.5s ease;

    &.nav_menu_unhide{
      height: auto;
    }
    &.nav_menu_hide{
      height: 0;
    }
  }

  #nav_hamburger {
    position: absolute;
    left: 1.5rem;
    height: 18px;
    width: 18px;
  }

  @keyframes move_upper_bar {
    100% {
      transform: translateY(8px) rotate(45deg);
    }
  }

  @keyframes move_center_bar {
    100% {
      transform: rotate(-45deg);
    }
  }

  @keyframes move_lower_bar {
    100% {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .nav_hamburger_bar {
    background-color: var(--text-color);
    height: 2px;
    width: 100%;
    margin: 0;
    margin-top: 6px;
  }

  .nav_hamburger_bar:first-child {
    margin-top: 0;
  }

  .burger_center_bar--animate, 
  .burger_upper_bar--animate,
  .burger_lower_bar--animate {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease;
  }

  .burger_center_bar--animate-reverse, 
  .burger_upper_bar--animate-reverse,
  .burger_lower_bar--animate-reverse {
    animation-direction: reverse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  .burger_center_bar--animate, .burger_center_bar--animate-reverse {
    animation-name: move_center_bar;
  }

  .burger_upper_bar--animate, .burger_upper_bar--animate-reverse{
    animation-name: move_upper_bar;
  }

  .burger_lower_bar--animate, .burger_lower_bar--animate-reverse{
    animation-name: move_lower_bar;
  }

  .nav_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .nav_right {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 0;
  }

  .nav_right > a{
    margin: 1rem 0;
  }

  .nav_right > a:last-child {
    margin-bottom: 2rem;
  }

  #content {
    height: auto;
  }

  .content_projects_gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project_card {
    width: 100%;
    max-width: 17.8rem;
    height: 11rem;
    background-color: var(--bg-one);
    border-radius: 0.5rem;
  }
  
  .project_card:hover {
    box-shadow: var(--shadow-color) 2px 2px 20px;
  }
  
  .project_card_img {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  
  .project_card_title {
    width: 100%;
    margin: 0.5rem 0;
    text-align: center;
  }
  
  .project_card_desc {
    display: none;
    margin: 0.25rem 0.5rem
  }

}

@media (width > 1600px) {
  :root {
    font-size: 1vw;
  }
}